[Unit]
Description=Medtronic VPN Service
After=network.target

[Service]
Type=forking
Environment="DISPLAY=:0"
Environment="XAUTHORITY=%h/.Xauthority"
ExecStart=/bin/sh -c 'sudo -i -u hrm pass vpn | openconnect -umcginh2 -b --pid-file /run/mdtvpn.pid --passwd-on-stdin --protocol=nc "remote.covidien.com"'
ExecStop=/bin/sh -c 'pkill -F /run/mdtvpn.pid'
PIDFile=/run/mdtvpn.pid
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=default.target
