[Unit]
Description=Medtronic VPN Service
After=network.target

[Service]
Type=forking
Environment="DISPLAY=:0"
Environment="XAUTHORITY=%h/.Xauthority"
ExecStart=/bin/sh -c 'sudo -i -u mcginh2 pass vpn | openconnect --passwd-on-stdin --background --user mcginh2 --pid-file /run/mdtvpn.pid --protocol=nc "https://ma-remote.covidien.com/linux"'
ExecStop=/bin/sh -c 'pkill -F /run/mdtvpn.pid'
PIDFile=/run/mdtvpn.pid
Restart=on-abnormal
RestartSec=5

[Install]
WantedBy=default.target
