URxvt*font: xft:Consolas:pixelsize=12
URxvt*boldFont: xft:Consolas:pixelsize=12:style=bold
URxvt*italicFont: xft:Consolas:pixelsize=12:style=italic

URxvt.termName: rxvt-256color
URxvt.internalBorder: 0
URxvt*background: #1B1B1B
URxvt*foreground: #DEDEDE

URxvt*transparent: true
URxvt*shading: 10
URxvt*tintColor: #000000
URxvt*blurRadius: 5
URxvt*colorUL: #86a2b0
URxvt*letterSpace: -1
URxvt*saveLines:         12000
URxvt*scrollBar:         False
URxvt*scrollTtyOutput:   False
URxvt*scrollTtyKeypress: True
URxvt*secondaryScroll:   True

URxvt.perl-ext-common:   default,matcher,tabbed
URxvt.urlLauncher:       google-chrome
URxvt.matcher.button:    1
URxvt.keysym.C-Delete:   perl:matcher:last
URxvt.keysym.M-Delete:   perl:matcher:list

URxvt.tabbed.tabbar-fg:  5
URxvt.tabbed.tabbar-bg:  0
URxvt.tabbed.tab-fg:     14
URxvt.tabbed.tab-bg:     0


! Monokai
*background: #101010
*foreground: #d0d0d0
*cursorColor: #d0d0d0
*color0: #101010
*color1: #960050
*color2: #66aa11
*color3: #c47f2c
*color4: #30309b
*color5: #7e40a5
*color6: #3579a8
*color7: #9999aa
*color8: #303030
*color9: #ff0090
*color10: #80ff00
*color11: #ffba68
*color12: #729fcf
*color13: #bb88dd
*color14: #4eb4fa
*color15: #d0d0d0



    

